<div class="idealist" >
  

<%= form_for(:sessions, url: sessions_path) do |f| %>

  <div class="field tablespace">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field tablespace">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions tablespace">
    <%= f.submit "Login" %>
  </div>
<% end %>

</div>