<div class="index">
  <p id="notice"><%= notice %></p>

  <div class="indexheading">

    <h1 id="indextitle">Explore The Showcase</h1>
    <div class="selectlinks">
           <select>
          <option value="new">Newest</option>
          <option value="new">Oldest</option>
          <option value="new">Ascending</option>
          <option value="new">Descending</option>
        </select>

        <select>
          <option value="new">Platform</option>
          <option value="new">Help needed</option>
        </select>
    </div>

    <%= link_to 'Have a New Idea?', new_idea_path,class: "newidealink" %>
      
  </div>
    
  <div class="idealist">
       <table>
      <thead>
        <tr>
          <th>Idea name</th>
          <th>Idea description</th>
          <th>Additional info</th>
          <th>Platform</th>
          <th>Role</th>
          <th>User</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @ideas.each do |idea| %>
          <tr>
            <td><%= idea.idea_name %></td>
            <td><%= idea.idea_description %></td>
            <td><%= idea.additional_info %></td>
            <td><%= idea.platform_id %></td>
            <td><%= idea.role_id %></td>
            <td><%= idea.user_id %></td>
            <td><%= link_to 'Show', idea %></td>
            <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
            <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <br>

  </div>
  

</div>
