

<div class="index">
  <p id="notice"><%= notice %></p>

  <div class="indexheading">

    <h1 id="indextitle">Explore The Showcase</h1>
    <div class="selectlinks">

    <%# > <%= select_tag([[Newest,@newest],[Oldest,@oldest],[Ascending, @ascending_names],[Descending, @descending_names]])%>
     <%#> <%= select_tag ([[Platform, @platform],[Help needed , @help_needed]]) %> 
          <select>
          <option value="">Newest</option>
          <option value="new">Oldest</option>
          <option value="new">Ascending</option>
          <option value="new">Descending</option>
        </select>

        <select>
          <option value="new">Platform</option>
          <option value="new">Help needed</option>
        </select>
    </div>

    <%= link_to 'Have a New Idea?', new_idea_path,class: "newidealink" %>
      
  </div>
    
  <div class="idealist">
       <table class="indextable">

      <thead>
        <tr>
          <th class="tablespace">Idea name</th>
          <th class="tablespace">Platform</th>
          <th class="tablespace">Help Needed</th>
          
          <th colspan="3"></th>
        </tr>
      </thead>
     
        <tbody>
        <% @ideas.each do |idea| %>

          <tr class="indextablerow"> 
            <td class="tablespace"><%= idea.idea_name %></td>
            <td class="tablespace"><%= idea.platform.platform_name %></td>
            <td class="tablespace"><%= idea.role.skill_name %></td>
           
            
          
            <td ><%= link_to 'Show', idea ,class: "idealink tablespace"%></td>
            <td><%= link_to 'Edit', edit_idea_path(idea),class: "idealink tablespace" %></td>
            <td><%= link_to 'Destroy', idea, class: "idealink tablespace" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
       

          
        <% end %>
      </tbody>
    </table>
  <br>

  </div>
  

</div>