

<div class="index">
  <p id="notice"><%= notice %></p>

  <div class="indexheading">

    <h1 id="indextitle">Explore The Showcase</h1>
    <div class="dropdown">
        <button class="dropbtn">Sort by</button>
        <div class="dropdown-content">
            <%= link_to 'Newest', ideas_newest_first_path %>  
            <%= link_to 'Oldest', ideas_oldest_first_path %> 
            <%= link_to 'Names Descending', ideas_names_descending_path %> 
            <%= link_to 'Names Ascending', ideas_names_ascending_path %> 
            <%= link_to 'Only_platform', ideas_only_platform_path %>
            <%= link_to 'Help_needed', ideas_help_needed_path %> 
        </div>
    </div>
        <%= link_to 'Have a New Idea?', new_idea_path,class: "newidealink" %>


 
  </div>
    
  <div class="idealist">
       <table class="indextable">

      <thead>
        <tr>
          <th class="th tablespace">Idea name</th>
          <th class="th tablespace">Platform</th>
          <th class="th tablespace">Help Needed</th>
           <th class="th tablespace">Created At</th>
        
          
          <th colspan="3"></th>
        </tr>
      </thead>
     
        <tbody>
        <% @ideas.each do |idea| %>

          <tr class="indextablerow"> 
            <td class="td tablespace"><%= idea.idea_name %></td>
            <td class="td tablespace"><%= idea.platform.platform_name %></td>
            <td class="td tablespace"><%= idea.role.skill_name %></td>
            <td class="td tablespace"><%= idea.created_at %></td>

           
            
      
            <td ><%= link_to 'Show', idea ,class: "idealink tablespace"%></td>
            <td><%= link_to 'Edit', edit_idea_path(idea),class: "idealink tablespace" %></td>
            <td><%= link_to 'Destroy', idea, class: "idealink tablespace" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
       

          
        <% end %>
      </tbody>
    </table>
  <br>

  </div>
  

</div>