<p id="notice"><%= notice %></p>

<div class=" showforeveryview">
  <p>
    <strong>Idea name:</strong>
    <%= @idea.idea_name %>
  </p>

  <p>
    <strong>Idea description:</strong>
    <%= @idea.idea_description %>
  </p>

  <p>
    <strong>Additional info:</strong>
    <%= @idea.additional_info %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= @idea.platform.platform_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @idea.role.skill_name%>
  </p>

  <p>
    <strong>User:</strong>
    
    <% if @idea.try(:user).nil?%>
          <%= "Still Open"%>
    <%else%>
         <%= @idea.try(:user).try(:name)%>
    <%end%>
  </p>
  <%= link_to 'Edit', edit_idea_path(@idea), class: "idealink"%> |
  <%= link_to 'Back', ideas_path,class: "idealink" %>
  <br>
  <br>
  <div> 
  <h1>Listing Role/User pair </h1>
  
   <p>
    <strong>Role:</strong>
    <%= @idea.role.skill_name%> <span>-</span> 
    <!--checks if the role is still open-->
    <% if @idea.try(:user).nil?%>
          <%= "Still Open"%>
    <%else%>
         <%= @idea.try(:user).try(:name)%>
    <%end%>
  </p>
  
       <% if @idea.try(:user).nil?%>
           <%= link_to 'Apply for the job', apply_role_path, class: "applybutton" %>
      <%else%>
      <%end%>

  
    
    
  </div>

  
</div>