<p id="notice"><%= notice %></p>

<p>
  <strong>Idea name:</strong>
  <%= @idea.idea_name %>
</p>

<p>
  <strong>Idea description:</strong>
  <%= @idea.idea_description %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @idea.additional_info %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @idea.platform_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @idea.role_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
