<!DOCTYPE html>
<html>
<head>
  <title>TechParadise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%=image_tag("bluebackground.jpg", class: "bluebackground")%>
   

    
    <div  id= "visitorsdiv">
         <%=image_tag("techlogo.png", class: "techlogo")%>
         <p>Welcome to TechParadise.</p> 
         <h1>This</h1>
  
        
    </div>
   
	

</body>
</html>
