<!DOCTYPE html>
<html>
<head>
  <title>TechParadise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%=image_tag("bluebackground.jpg", class: "bluebackground")%>
   

    
    <div  id= "visitorsdiv">
         <%=image_tag("techlogo.png", class: "techlogo")%>
          
         <p id= "visitorsp">You have found TechParadise! This is a site for programmers, web developers, designers, 
         entrepreneurs and writers to find each other and work together to create websites that look and function great.  </p>
         <br><br><br>

         <%= link_to 'See Ideas' , ideas_path, class: "seeideas" %>

    </div>
   
   
	

</body>
</html>
