<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<div class="idealist">

<table class="indextable" >
  <thead>
    <tr>
      <th  class="th tablespace">Name</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @users.each do |user| %>
    <tr>
      <td class="td tablespace"><%= user.email %></td>
      <td class="td tablespace"><%= user.password %></td>
      <td class="td tablespace"><%= user.roles.name %></td>
      <td class="td tablespace"><%= user.admin %></td>
      <td><%= link_to 'Toggle Admin', make_admin_user_path(user),class: "idealink tablespace" %></td>
      <td><%= link_to 'Show', user ,class: "idealink tablespace" %></td>
      <td><%= link_to 'Edit', edit_user_path(user),class: "idealink tablespace" %></td>
      <td><%= link_to 'Destroy', user,class: "idealink tablespace", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %> 
    
    
    
    
  </tbody>
</table>

<br>
</div>

<%= link_to 'New User', new_user_path,class: "newidealink" %>
