<p id="notice"><%= notice %></p>

<h1>Listing Roles</h1>
<div class="idealist">
  

<table class="indextable">
  <thead>
    <tr>
      <th class="th tablespace">Skills overview</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td class="td tablespace"><%= role.skill_name %></td>
        <td><%= link_to 'Show', role ,class: "idealink tablespace"%></td>
        <td><%= link_to 'Edit', edit_role_path(role),class: "idealink tablespace" %></td>
        <td><%= link_to 'Destroy', role, class: "idealink tablespace",method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

<%= link_to 'New Role', new_role_path,class: "newidealink" %>
