
<div class="header">
	
	<div class="register">
	<%=link_to("TECHPARADISE", ideas_path,id: "logo")%>
		<!-- <a href=""></a><h1 id="logo">TECHPARADISE</h1> -->
		<%=link_to("About", "#helpsection",class: "headerlinks")%>
		<%=link_to("Help", "#helpsection", class: 'headerlinks')%>
		
	</div>
	<div class="headernavs">
		<% if logged_in? %>
			<%= link_to 'Logout', logout_path, method::delete %>
		<% else %>
			<%=link_to("Log In", login_path , class: "headerlinks")%>
			<%=link_to("Sign Up", signup_path,class: "headerlinks loginbutton")%>
		<% end %>
	</div>
	
	
</div>




